
body{
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 1%;
    padding: 20px;
}

.container{
    position: relative;
    top: 15%;
    left: 29%;
    width: 80vh;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding-top: 2%;
}

.container label{
    position: relative;
    left: 5%;
    transform: translate(-50%, -50%);
}

.container-1{
    position: relative;
    margin-top: 1%;
    left: 29%;
    width: 80vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
            
}

.container-1 label{
    margin-left: 3%;
    font-size: 18px;
    
    letter-spacing: 1px;
    font-weight: bold;
    color: aliceblue;
} 

.content{
    position: relative;
    border-radius: 4px;
    top: 16px;
    left: 5%;
    padding-top: 1%;
    width: 80%;
    
    background-color: #333;
    padding-bottom: 1%;
    margin-bottom: 0%;
    background-color: rgba(51, 51, 51, 0.2);
}

.content:hover{
    background-color: #3b3b3b;
}

h1{
    text-align: center;
    color: aliceblue;   
}

#task-input{
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px 12px;
    width: 85%;
    margin-bottom: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#task-input:focus{
    border-color: #66afe9;
    box-shadow: 0 0 4px #66afe9;
}

#task-input[type="text"]:hover{
    background-color: #e6e6e6;
}

#task-input[type="text"]:hover:placeholder{
    color: #999;
}

#submit-input{
    width: 80px;
    background-color: aliceblue;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1%;
    margin-left: 37%;
    font-size: 14px;
    padding: 8px 12px;
    transition: color 0.3s, box-shadow 0.3s;
}

#submit-input:hover{
    color: #66afe9;
    box-shadow: 0 0 4px #66afe9;
}

#icon-add{
    position: absolute;
    left: 91%;
    top: 27%;
    transform: translate(-50%, -50%);
}

a{
    position: relative;
    font-size: 0px;
    margin: 0px;
}

img{
    position: relative;
    width: 42px;
    height: 42px;
    margin-top: -24px;
    margin-bottom: 0%;
    margin-left: 87%;
    transition: transform 0.3 ease-in-out;
}

img:hover{
    transform: scale(1.1);
}